<div id="productsContainer">
    <hr id="grey">
    <h1>Реалізовані продукти</h1>
    <h3>
        Мобільні додатки:  додаток для поширення місцезнаходження у екстренних ситуаціях, додаток для фінансового планування для малого та середнього бізнесу 
Веб-додатки: сайт для мережі салонів із краси із можливістю онлайн запису
    </h3>
    <hr id="red">
</div>
    <div class="menu">
        <a *ngFor="let cat of portfolioCats"
        [ngClass]="{active: cat.name == currentCat.name}"
        [ngStyle]="{'display': cat.images.length > 0 ? 'inline-block' : 'none'}"
        (click)="changeCat(cat)">{{cat.name}}</a>
    </div>
<div id="products" *ngIf="currentCat" >
    <div class="adaptive">
        <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="after">
            <button mat-menu-item (click)="changeCat(cat)"
                *ngFor="let cat of portfolioCats">
              {{cat.name}}
            </button>
        </mat-menu>
    </div>
    <div class="prod" *ngFor="let product of currentCat.images"
        [ngStyle]="{'background-image': getImageUrl(product)}"
        (click)="openDialog(product)">
    </div>
    <div class="adaptiveProd" *ngFor="let product of currentCat.images"
        [ngStyle]="{'background-image': getImageUrl(product)}"
        (click)="goToLink(product)">
    </div>
</div>