h1 {
    margin-top: 4%;
    text-align: center;
    text-transform: uppercase;
    color: #585858;
    font-size: 24pt;
    font-weight: bold;
    animation-duration: 3s;
    animation-name: invisible;
}
hr#grey {
    width: 80%;
    border: 1px solid #ececec;
    opacity: 50%;
    border-radius: 50px;
    animation-duration: 3s;
    animation-name: invisible;
}
h3 {
    color:#585858;
    text-align: center;
    width: 33%;
    margin: auto;
    font-weight: normal;
    animation-duration: 3s;
    animation-name: invisible;
}
hr#red {
    margin: 30px auto;
    width: 5%;
    border: 1px solid #ec443bd2;
}
span#center {
    margin: auto;
    font-size: 22pt;
    line-height: 7px;
}
a.active {
    color: #ec443bd2;
}
div#products {
    width: 80%;
    display: flex;
    margin: 1% auto 4%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.prod {
    width: 15vw;
    height: 15vw;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s ease;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.adaptiveProd {
    width: 15vw;
    height: 15vw;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s ease;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
}
div.menu {
    width: 100%;
    justify-content: center;
    margin: auto;
    width: auto;
    font-size: 20px;
    display: flex;
}
a {
    color: grey;
    text-align: center;
    padding: 16px 16px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease;
    border-bottom: 1px solid transparent;
}
a:hover {
    border-bottom: 1px solid #ec443bd2;
}
a.active:hover {
    border-bottom: 1px solid transparent;
}
div.adaptive {
    display: none;
    text-align: left;
    width: 60vw;
}
.mat-menu-item {
    color: #fff;
}
@keyframes invisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@media (max-width: 1400px) {
  div.products {
      width: 100%;
      padding: 4%;
  }
  h3 {
      width: 50%;
  }
}
@media (max-width: 1150px) {
    div.prod {
        width: 30vw;
        height: 30vw;
    }
    h3 {
        width: 60%;
    }
    div.adaptiveProd {
      width: 60vw;
      height: 60vw;
      display: block;
    }
    div.prod {
      display: none;
    }
  }
@media (max-width: 600px) {
  div.menu {
    display: none;
  }
  h3 {
    width: 80%;
  }
  div.adaptive {
    display: block;
  }
}