hr#grey {
    width: 80%;
    border: 1px solid #ececec;
    opacity: 50%;
    border-radius: 50px;
    margin-bottom: 4%;
}
h1 {
    color: #585858;
    margin: 1% 0;
    text-transform: uppercase;
    font-size: 42pt;
}
div.desktopWidth {
    display: flex;
    flex-direction: column;
}
div#teamContainer {
    width: 80%;
    margin: auto;
    animation-duration: 2s;
    animation-name: invisible;
}
@keyframes invisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
h3 {
    color: #6f6d6d;
    width: 50%; 
    font-size: 16pt;
    line-height: 1.2;
    font-weight: normal;
}
hr#red {
    border: 1px solid #ec443bd2;
    width: 13%;
    margin-top: 3%;
    margin-left: 1px;
}
div#team {
    margin: 5% auto;
    display: flex;
    position: relative;
}
.imgContainer {
    flex: 1;
    max-height: 550px;
}
.imgContainer img {
    max-width: 100%;
    max-height: 550px;
}
.left {
    height: 100%;
    margin: auto;
    display: block;
}
div#right {
    display: flex;
    flex-direction: column;
    flex: 1;
}
a {
    display: inline-block;
    color: #585858;
    text-align: center;
    padding: 10px 0 0;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
    transition: .5s ease;
    border: 1px solid transparent;
    margin-right: 3%;
}
div.socialContainer {
    margin: 3% auto 3%;
    color: #8f8f8f;
    font-size: 16pt;
    font-style: italic;
    transition: .5s ease;
    display: flex;
}
div#teamFooter {
    width: 100%;
    display: flex;
    margin-top: auto;
    flex-direction: row;
    justify-content: center;
}
div.prod {
    display: inline-block;
    padding-bottom: 29%;
    margin: 5px 5px 5px 0;
    width: 29%;
    cursor: pointer;
    border-radius: 5px;
    background: #f5f0dd;
    background-size: contain;
    transition: 0.5s ease;
}
div.prod:hover {
    transform: scale(1.1);
}
div.prod:active {
    transform: scale(0.8);
}
div.bottom {
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transition: .5s ease;
}
div.text {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
div#clear {
    clear: both;
}
h1.progName {
    font-size: 30pt;
    padding: 0 10px 0 10px;
}
h3.progDescr {
    color:#585858;
    font-weight: normal;
    width: 95% !important;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}
#teamFooter img {
    width: 27%;
    height: auto;
    margin: 0 2%;
    transition: 0.5s ease;
    border-radius: 15px;
    cursor: pointer;
}
div#prev {
    font-size: 90px;
    display: inline-block;
    font-weight: 600;
    vertical-align: middle;
    position: absolute;
    left: -10%;
    top: 30%;
    cursor: pointer;
    transition: 0.5s ease;
    color: #585858;
}
div#prev:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}
div#next:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}
div#next {
    transition: 0.5s ease;
    cursor: pointer;
    font-size: 90px;
    display: inline-block;
    font-weight: 600;
    vertical-align: middle;
    position: absolute;
    right: -10%;
    top: 30%;
    color: #585858;
}
div.mobileWidth {
    display: none;
}
.socName {
    color: #585858;
    transition: .5 ease;
    display: flex;
}
.socName:hover {
    transition: .5 ease;
    border-bottom: 1px solid #ff3f40;
}
@media (max-width: 1400px) {
    div#right {
        flex: 0.5;
    }
}
@media (max-width: 1150px) {
    hr#red {
        display: none;
    }
    div#prev, div#next {
        font-size: 60px;
    }
    div#team {
        flex-direction: column;
    }
    div.imgContainer {
        padding-top: 120px;
    }
    h1.progName {
        transform: translateY(-650px);
        margin: 0 auto;
        font-size: 20pt;
    }
    div#teamFooter {
        margin-top: 4%;
    }
    h3 {
        width: 75%;
        margin: 0 auto;
        font-size: 14pt;
    }
    h1 {
        font-size: 26pt;
        margin: 4% 0 4%;
        text-align: center;
    }
}
@media (max-width: 800px) {
    div.imgContainer {
        height: 300px;
    }
    h1.progName {
        transform: translateY(-400px);
    }
    div#next {
        right: -10%;
        top: 0;
        font-weight: normal;
    }
    div#prev {
        left: -10%;
        top: 0;
        font-weight: normal;
    }
    div.socialContainer {
        flex-direction: column;
    }
}
div.mainPhoto {
    width: 40vw;
    height: 40vw;
    float: left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
