<div id="teamContainer" *ngIf="teamList?.length > 0">
    <hr id="grey">
    <h1>Meet our team</h1>
    <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, commodi.
    </h3>
    <hr id="red">
    <div id="team">
        <div id="prev" (click)="goLeft()" *ngIf="currentMate != 0">
            &lt;
        </div>
        <div class="imgContainer">
            <img src="{{teamList[currentMate].photo_url}}" class="left">
        </div>
        <!-- <div id="left" [style.backgroundImage]="'url('+ teamList[currentMate].photo_url +')'">
        </div> -->
        <div id="right">
            <h1 class="progName">{{teamList[currentMate].name}}</h1>
            <h3 class="progDescr">{{teamList[currentMate].description.substr(0, 250)}}</h3>
            <div class="socialContainer">
                <a *ngFor="let soc of teamList[currentMate].socials" 
                    target="_blank"
                    href="{{soc.profile_link}}">
                        <div *ngIf="soc.social_name.length > 0" class="socName">
                            <mat-icon style="color: #ff2d2d; display: inline-block">link</mat-icon>
                            <span>{{soc.social_name}}</span>
                        </div>
                </a>
            </div>
            <div id="teamFooter">          
                <img            
                *ngFor="let prog of teamList | teammatesSort:currentMate; let index = index" 
                [ngStyle]="{border: prog.name == teamList[currentMate].name ? '4px solid #585858' : '4px solid white',
                transform: prog.name == teamList[currentMate].name ? 'translateY(-10px)' : 'translateY(0px)'}"
                src="{{prog.photo_url}}" 
                (click)="changePos(prog)">            
            </div>
        </div>
        <div id="next" (click)="goRight()" *ngIf="currentMate != teamList.length - 1">
            &gt;
        </div>
    </div>
</div>