div#provideBlock {
    background: #ffffff;
    animation-duration: 3s;
    animation-name: invisible;
}
div#container {
    width: 80%;
    padding: 0;
    margin: auto;
    height: auto;
}
div#leftBlock {
    padding: 4% 0% 4% 0%;
    width: 49%;
    float: left;
}
div#rightBlock {
    padding: 4% 0% 4% 0%;
    width: 49%;
    float: right;
    display: flex;
    flex-direction: column;
}
div#clearBoth {
    clear: both;
}
h2.title {
    font-weight: 600;
    margin: 1% 0 0;
    font-size: 24pt;
    color: #737373;
    text-transform: none;
}
span.description {
    color: black;
    display: block;
    width: 95%; 
    font-size: 16pt;
    line-height: 1.6;
    font-weight: normal;
    margin-top: 1%;
}
h2 {
    color: #585858;
    font-size: 38pt;
    font-weight: bold;
    font-family: 'Open Sans';
    margin: 4% 0 0;
    width: 93%;
    text-transform: uppercase;
}
h4 {
    color: black;
    margin: 4% 0 0;
    display: block;
    width: 95%; 
    font-size: 16pt;
    line-height: 1.6;
    font-weight: normal;
}
button#learnMore {
    position: relative;
    background-color: #ffffff;
    color: #ec453b;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin: 54px 0 0;
    padding: 10px 70px;
    border-radius: 5px;
    letter-spacing: 1px;
    border: 1px solid #ec453b;
    box-shadow: 0;
    transition: .5s ease;
    display: none;
  }
div#rightBlockHigh {
    width: 100%;
    display: flex;
}
div#rightBlockLow {
    width: 100%;
    display: flex;
}
div#hightLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
}
div#hightRight {
    flex: 1;
    display: flex;
    flex-direction: column;
}
div#lowLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div#lowRight {
    flex: 1;
    display: flex;
    flex-direction: column;
}
mat-icon {
    margin-top: 30px;
    margin-bottom: 40px;
    color: #ff3b4a;
    font-size: 50px;
}
button#learnMore:hover {
    border-radius: 15px;
}
@keyframes invisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@media (max-width: 1400px) {
  div.container {
    width: 90%;
    padding: 4%;
  }
}
@media (max-width: 1150px) {
  button#learnMore {
    margin: 30px auto 0;
    display: none;
  }
  div#leftBlock {
    padding: 4% 0% 4% 0%;
    width: 100%;
    text-align: center;
  }
  div#rightBlock {
    padding: 4% 0% 4% 0%;
    width: 100%;
    text-align: center;
  }
  span.description {
    color: black;
    display: block;
    width: 95%; 
    font-size: 14pt;
    line-height: 1.6;
    font-weight: normal;
}
h2, h4 {
  margin: 4% auto 0;
}
mat-icon {
  margin-top: 0;
  margin-bottom: 0;
  width: 50px;
  height: 50px;
}

}
@media (max-width: 600px) {
  div#hightLeft {
    width: 100%;
  }
  div#hightRight {
    width: 100%;
  }
  mat-icon {
    margin-top: 0;
    margin-bottom: 0;
    width: 50px;
    height: 50px;
  }
  div#lowLeft {
    width: 100%;
  }
  div#lowRight {
    width: 100%;
  }
  div#rightBlockHigh {
    flex-direction: column;
    width: 100%;
    display: flex;
  }
  div#rightBlockLow {
    flex-direction: column;
    width: 100%;
    display: flex;
  }
    h2 {
        font-size: 20pt;
    }
    h4 {
        font-size: 10pt;
    }
    h2.title {
      font-size: 20pt;
    }
    button#learnMore {
        margin: 20px auto 0;
        padding: 8px 30px;
        font-size: 14px;
        width: 75%;
    }
}
@media (max-width: 370px) {
    h2 {
        font-size: 22pt;
    }
    h4 {
        font-size: 10pt;
    }
    button#learnMore {
        padding: 6px 20px;
        font-size: 14px;
        margin: 10px auto 0;
    }
}