<div id="provideBlock">
    <div id="container">
        <div id="leftBlock">
            <h2>ХТО МИ І ЧИМ МОЖЕМО БУТИ ВАМ КОРИСНІ?</h2>
            <h4>
                Компанія ITuse - розробник спеціалізованих ІТ-продуктів. Підхід команди полягає в створенні комплексних рішень для будь-якого типу бізнесу. Ми допоможемо зробити Ваш бізнес більш доступним для Ваших клієнтів і конвертувати це в дохід. Всі етапи створення: від аналізу до програмної реалізації і просування, як для стартапів, так і для проектів, що активно розвиваються.
            </h4>
            <button id="learnMore" mat-raised-button>Дізнатись більше</button>
        </div>
        <div id="rightBlock">
            <div id="rightBlockHigh">
                <div id="hightLeft">
                    <div class="iconContainer">
                        <mat-icon>web</mat-icon>
                    <h2 class="title">Веб-додатки</h2>
                    </div>
                    <span class="description">
                        Розробка будь-якого типу веб додатку (від інтернет-магазинів до систем управління контентом)
                    </span>
                </div>
                <div id="hightRight">
                    <div class="iconContainer">
                        <mat-icon>mobile_friendly</mat-icon>
                        <h2 class="title">Мобільні додатки</h2>
                    </div>
                    <span class="description">Розробка будь-якого типу мобільного додатку (корпоративні, контентні)</span>
                </div>
            </div>
            <div id="rightBlockLow">
                <div id="lowLeft">
                   <div class="iconContainer">
                       <mat-icon>desktop_windows</mat-icon>
                        <h2 class="title">Комп'ютерні додатки</h2>
                   </div>
                    <span class="description">
                        Розробка будь-якого виду комп'ютерних додатків із допомогою Electron (JavaScript)
                    </span>
                </div>
                <div id="lowRight">
                    <!-- <mat-icon>album</mat-icon>
                    <h2 class="title">Лого / брендинг </h2>
                    <span class="description">
                        Розробляємо логотипи. Створюємо комплекс заходів по брендуванню Вашого бізнесу
                    </span> -->
                </div>
            </div>
        </div>
        <div id="clearBoth"></div>
    </div>
</div>