<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<div >
  <mat-toolbar id="toolbar">
    <mat-toolbar-row>
      <span id="copyright">Copyright © 2020. All rights reserved.</span>
      <span id="spacer"></span>
      <div class="share-button">
          <span>
            <i class="fas fa-share-alt"></i>
            Share!
          </span>
          <a href="https://www.fb.me/ituse.org"><i class="fab fa-facebook-f"></i></a>
          <a href="http://t.me/ituseorg"><i class="fab fa-telegram"></i></a>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
</div>