mat-toolbar {
    width: 100%;
    background: #080a09;
    min-height: 73px;
    margin: 0 0 0 0;
}
mat-toolbar-row {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-toolbar-row span{
    color: white;
    font-weight: normal;
    font-size: 14px;
}
span#spacer {
    flex: 1 1 auto;
}
span#copyright {
    color: #b8b8b8;
    font-size: 16pt;
}
.share-button {
    width: 140px;
    height: 73px;
    background: #080a09;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
    border: none;
}

.share-button:hover {
    transform: scale(1);
}

.share-button span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #080a09;
    color: #b8b8b8;
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: .6s linear;
    font-size: 16pt;
    border: none;
}

.share-button:hover span {
    transform: translateX(-100%);
    transition-delay: .3s;
}

.share-button a {
    flex: 1;
    font-size: 26px;
    color: #b8b8b8;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear;
}

.share-button:hover a {
    opacity: 1;
    transform: translateX(0);
}

.share-button a:nth-of-type(1) {
    transition-delay: 1s;
}
.share-button a:nth-of-type(2) {
    transition-delay: 0.8s;
}
.share-button a:nth-of-type(3) {
    transition-delay: 0.6s;
}
.share-button a:nth-of-type(4) {
    transition-delay: 0.4s;
}
@media (max-width: 900px) {
    mat-toolbar-row {
        padding: 10px;
        flex-direction: column;
        height: auto;
    }
    mat-toolbar {
        min-height: 150px;
    }
    span#copyright {
        font-size: 12pt;
    }
}