<div class="backgroundContainer">
    <div class="container" id="headerContainer">
        <div class="textContainer">
            <h1>
                Ефективні онлайн-рішення для Вашого бізнесу
            </h1>
            <h3>
                Вебсайти, мобільні додатки, додатки для настільного комп'ютера
            </h3>
            <button mat-raised-button id="contactUs" (click)="scroll('intouchContainer')">Зв'язатись з нами</button>
        </div>
    
        
    </div>
</div>

<!-- <div id="headerBlock">
    <div id="container">
        <div id="leftBlock">
            <h1>
                Our strong organization
            </h1>
            <h3>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita incidunt voluptate illo.
            </h3>
            <button mat-raised-button id="contactUs">Contact Us</button>
        </div>
        <div id="rightBlock">
            <div id="mediaContainer"> 
                <iframe allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" 
                src="https://www.youtube.com/embed/Xk_JJo-egyY">
                </iframe>
            iframe atts "allowfullscreen", "webkitallowfullscreen", "mozallowfullscreen" added for displaying fullscreen button in video panel
            </div>
        </div>
        <div id="clearBoth"></div>
    </div>
</div> -->

