div.backgroundContainer {
    width: 100%;
    animation-duration: 2s;
    animation-name: invisible;
    background: #f5f1f1;
}
div.container {
    display: flex;
    width: 80%;
    padding: 0;
    margin: auto;
    height: auto;
    flex-direction: row;
    justify-content: center;
}
div.textContainer {
    flex: 1;
    padding-top: 4%;
    text-align: center;
}
div.mediaContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: auto;
}
h1 {
    margin: 2% auto 0;
    text-transform: uppercase;
    display: block;
    width: auto;
    font-size: 44pt;
    font-weight: 800;
    letter-spacing: 6px;   
}
h3 {
    color: #6f6d6d;
    margin: 2% auto 0;
    display: block;
    width: 85%; 
    font-size: 16pt;
    line-height: 1.6;
    font-weight: normal;
}
button#contactUs {
    position: relative;
    background-color: #ff2d2d;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin: 2% auto 4%;
    padding: 10px 70px;
    border-radius: 5px;
    display: block;
    transition: .5s ease;
    font-size: 18px;
  }
iframe {
    position: absolute;
    width: 100%;
    height: 100%;  
    -webkit-box-shadow: 0px 0px 50px 10px rgb(199, 199, 199);
    -moz-box-shadow: 0px 0px 50px 10px rgb(199, 199, 199);
    box-shadow: 0px 0px 50px 10px rgb(199, 199, 199);
    border: 0;
    border-radius: 10px;
    transition: .5s ease;
}
iframe:hover {
    border-radius: 20px;
    transition: all 0.8s;
}
iframe::after:hover {
    border-radius: 10px;
    transition: all 0.8s;
}
div#mediaContainer {
    margin: 13% 0% 13% 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
button#contactUs:hover {
    border-radius: 15px;
}
@keyframes splash-left {
    from {
      margin-right: 300px;
      opacity: 0;
    }
    to {
      margin-right: 0;
      opacity: 1;
    }
}
@keyframes invisible {
    from {
      opacity: 1;
    }
}
@media (max-width: 1400px) {
    div.container {
        width: 90%;
        padding: 4%;
    }
}
@media (max-width: 1150px) {
    div.container {
        width: 90%;
        flex-direction: column;
    }
    div.textContainer {
        flex: 1;
        padding-top: 4%;
        text-align: center;
    }
    button#contactUs {
        margin: 30px auto 0;
    }
    div.mediaContainer {
        width: 90%;
    }
    h1 {
        margin: auto;
    }
    h3 {
        margin: auto;
    }
}
@media (max-width: 600px) {
    h1 {
        font-size: 28pt;
    }
    h3 {
        font-size: 10pt;
    }
    button#contactUs {
        margin: 20px auto 0;
        padding: 8px 30px;
        font-size: 14px;
        width: 75%;
    }
}
@media (max-width: 370px) {
    h1 {
        font-size: 24pt;
    }
    h3 {
        font-size: 10pt;
    }
    button#contactUs {
        padding: 6px 20px;
        font-size: 14px;
        margin: 10px auto 0;
    }
}