<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<div style="width: 100%; background: #e3e3e3">
    <div class="container" >
        <div class="leftContainer">
            <div class="categoryList">
                <ul>
                    <li 
                    class="header"
                    style=" border-bottom: 1px solid black;">LIST OF CATEGORIES</li>
                    <button class="addNew" (click)="addNewVisible = !addNewVisible">
                       <span *ngIf="addNewVisible">add new category</span>
                       <span *ngIf="!addNewVisible">hide</span>
                    </button>
                    <div class="addCatDiv" 
                    [ngStyle]="{'display': addNewVisible ? 'none' : 'block'}">
                
                    <input 
                    [(ngModel)]="portfolio.name"
                    type="text"
                    placeholder="NEW CATEGORY"
                    class="addCat">
                    <button            
                    (click)="addCat()">
                    ADD
                    </button>
                </div>
                    <li *ngFor="let cat of portfolioCats; let i = index" class="cats"
                    (click)="catChange(cat)"
                    [ngStyle]="{'background': i == currentIndex ? '#313030' : 'none',
                    'color': i == currentIndex ? '#e0e0e0' : '#000',
                    'border-left': i == currentIndex ? '2px solid #ff3f40' : 'none',
                    'transform': i == currentIndex ? 'none' : 'none',
                    'opacity': i == currentIndex ? '.7' : '1',
                    'cursor': i == currentIndex ? 'default' : 'pointer'}"
                    >{{i+1}}. {{cat.name}}</li>
                    
                </ul>
            </div>
            <div class="content">
    
                
    
                <div class="displayCat">
                    <div class="posLeft"
                    *ngIf="currentIndex != 0 && currentMode == 'changePos'"
                    (click)="goLeft()"
                    >&#60;</div>
                    <div class="currentName" style="display: inline-block"
                    *ngIf="currentMode != 'rename' && portfolioCats.length > 0">{{currentIndex+1 + '. ' + portfolioCats[currentIndex].name}}</div>
                    <div class="posRight"
                    *ngIf="currentIndex != portfolioCats.length -1 && currentMode == 'changePos'"
                    (click)="goRight()"
                    >&#62;</div>
                    <div class="currentName">
                        <input 
                            [(ngModel)]="portfolioCats[currentIndex].name"
                            type="text"
                            class="rename"
                            *ngIf="currentMode == 'rename'"
                        >
                    </div>
                    <div class="buttonsPanel">
                        <button
                            title="change position"
                            class="icons"
                            style="background: green"
                            *ngIf="currentMode == 'none'"
                            (click)="setMode('changePos')">
                            <i class="fas fa-exchange-alt"></i>
                        </button>
                        <button
                            title="save"
                            class="icons"
                            style="background: green"
                            *ngIf="currentMode != 'none' && currentMode != 'newImage'"
                            (click)="saveList(portfolioCats)">
                            <i class="fas fa-check-circle"></i>
                        </button>
                        <button
                            title="cancel"
                            class="icons"
                            style="background: red"
                            *ngIf="currentMode != 'none' && currentMode != 'newImage'"
                            (click)="setMode('none')">
                            <i class="fas fa-times"></i>
                        </button>
                        <button
                            title="rename"
                            class="icons"
                            style="background: rgb(235, 231, 0)"
                            (click)="setMode('rename')"
                            *ngIf="currentMode == 'none'">
                            <i class="fas fa-pen"></i>
                        </button>
                        <button
                            title="delete"
                            class="icons"
                            style="background: red"
                            *ngIf="currentMode == 'none'"
                            (click)="deleteCat(portfolioCats[currentIndex])">
                            <i class="fas fa-minus-square"></i>
                        </button>
                    </div>
                    <br>    
                </div>
                <div class="gallery">
                    <mat-slide-toggle style="margin-bottom: 4%; font-size: 20px;" (change)="setValue(galleryChangeMode)">Change gallery mode</mat-slide-toggle>
                    <div *ngIf="galleryChangeMode === true">
                            <span
                            class="galleryText">Click on the image to add or remove from this category!</span> <br>
                            <span
                            class="galleryText">
                            No images needed? Visit <span routerLink="/storage" style="color: navy; cursor: pointer">Storage</span> to add them.</span>
                            <br>
                            <span
                            class="galleryText">Main page will not display category with no images!</span> <br>
                            <div *ngFor="let item of storage"
                            [ngStyle]="{'background-image': getImageUrl(item),
                            'opacity': portfolioCats[currentIndex].images.includes(item.url) ? '1' : '0.3'}"
                            class="galleryItem"
                            (click)="choose(item)"
                            style="background-size: cover;">
                            <div class="text">{{item.name}}
                                    <i class="fas fa-folder"></i>
                                    {{item.folder}}
                            </div>
                            </div>
                    </div>
                    <div>
                            <div class="gallery" *ngIf="galleryChangeMode === false">
                                    <div *ngFor="let item of storage" style="display: inline-block; margin: 1%">
                                        <div *ngIf="portfolioCats[currentIndex].images.includes(item.url)"
                                            [ngStyle]="{'background-image': getImageUrl(item)}"
                                            class="galleryItem"
                                            (click)="openDialog(item)"
                                            style="background-size: cover;">
                                            <div class="text">{{item.name}}
                                                <i class="fas fa-folder"></i>
                                                    {{item.folder}}
                                        </div>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
<!-- <button class="nav" (click)="currentPage = 'cats'" 
    [ngStyle]="{background: currentPage == 'cats' ? '#313030' : 'none',
                color: currentPage == 'cats' ? '#e0e0e0' : '#313030',
                border: currentPage =='cats' ? '2px solid #e0e0e0' : '2px solid #313030',
                animation: currentPage =='cats' ? 'pulse 2s infinite' : 'none'}">
        Categories
    </button>
    <button class="nav2" (click)="currentPage = 'images'"
    [ngStyle]="{background: currentPage == 'images' ? '#313030' : 'none',
    color: currentPage == 'images' ? '#e0e0e0' : '#313030',
    border: currentPage =='images' ? '2px solid #e0e0e0' : '2px solid #313030',
    animation: currentPage =='images' ? 'pulse 2s infinite' : 'none'}">
        Images
    </button>
<div *ngIf="currentPage == 'cats'">
    <div class="addCatDiv" style="text-align: left;">
            
            <input 
            [(ngModel)]="portfolio.name"
            type="text"
            class="addCat">
            <button class="clipperButton"            
            data-hover=''
            (click)="addCat()">
                <span>Add cat</span>
            </button>
    </div>
    
    

    <div class="catList" *ngIf="portfolioCats?.length > 0">
        <table>
            <tr>
                <th>Category name</th>
                <th>Position</th>
                <th>Options</th>
            </tr>
            <tr *ngFor="let cat of portfolioCats">
                <td>{{cat.name.toUpperCase()}}</td>
                <td>{{cat.position}}</td>
                <td><button  
                    *ngIf="currentMode == 'none'"
                    style="background: #a9ff08; color: white;"
                    (click)="currentMode = 'changePos'"><i class="fas fa-exchange-alt"></i>

                </button>
                    <button  
                    *ngIf="currentMode == 'none'"
                    style="background: #f4ca16; color: white;"
                    (click)="currentMode = 'rename'"><i class="fas fa-pen"></i>

                </button>
                    <button
                    *ngIf="currentMode == 'none'"
                    (click)="deleteCat(portfolioCats[currentIndex])"    console.log(this.addNewVisible);
                     style="background: red; color: white;"><i class="fas fa-minus-square"></i>

                </button></td>
            </tr>
        </table>
    </div>
    
    <div class="currentCat" *ngIf="portfolioCats?.length > 0">
        <div class="posLeft"
        *ngIf="currentMode == 'changePos' && currentIndex != 0"
        (click)="goLeft()"
        >&#60;</div>
        <span
        *ngIf="currentMode == 'changePos'">{{portfolioCats[currentIndex].name}} 
        {{portfolioCats[currentIndex].position}}</span>
        <input 
        [(ngModel)]="portfolioCats[currentIndex].name"
        type="text"
        class="rename"
        *ngIf="currentMode == 'rename'">
        <div class="posRight"
        *ngIf="currentMode == 'changePos' && currentIndex != portfolioCats.length -1"
        (click)="goRight()"
        >&#62;</div>
    </div>
    
    
    <div class="catPanel" *ngIf="portfolioCats?.length > 0">
        <button mat-raised-button 
        *ngIf="currentMode == 'rename'"
        (click)="saveCat()"
        style="background: green; color: white;">Save</button>    console.log(this.addNewVisible);
        <button mat-raised-button 
        *ngIf="currentMode == 'changePos'"
        (click)="saveList(portfolioCats)"
        style="background: green; color: white;">Save</button>
        <button mat-raised-button 
        *ngIf="currentMode == 'rename'"
        (click)="cancelMode()"
        style="background: red; color: white;">Cancel</button>
    </div>
</div>

    <form class="form" *ngIf="currentPage == 'images'">
        <input type="text" placeholder="Photo URL" class="textbox" />
        <input type="text" placeholder="Description" class="textbox" />
        <select>
            <option value="0">Select category:</option>
            <option *ngFor="let cat of portfolioCats" value="{{cat.name}}">{{cat.name.toUpperCase()}}</option>
          </select>
        <input type="button" value="Add" class="button" />
    </form>
 -->
