div.container {
    background: linear-gradient(45deg, #e3e3e3 0% 93%,  #313030 95%);
    /* background-size: 100% 100%; */
    /* animation: gradient 3s; */
    height: auto;
    min-height: 45vw;
    width: 80%; 
    margin: 0% auto 0;
    font-family: Roboto,"Helvetica Neue",sans-serif !important;
    animation: 2s invisible;
}
@keyframes invisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
td button {
    border-radius: 100px;
    font-size: 16px;
}
button.nav {
    position: absolute;
    right: 0;
    top: 0;
}
button.nav2 {
    position: absolute;
    right: 0;
    top: 50px;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
}
.clipperButton:before {
    content: attr(data-hover);
}
@keyframes fontDisplay {
    1% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

table {
    width: 70%;
    text-align: center;
    display: block;
    margin: 0;
    color: #e0e0e0;
    font-size: 26px;
}
th {
    width: 50%;
}
table td, table th {
    border: 2px solid #e0e0e0;
}
.catName {
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    padding: 2px 15px;
    background: #313030;
    color: #e0e0e0;
    cursor: pointer;
    margin: 0 1%;
}
img.delete {
    width: 24px;
    height: 24px;
}
div.currentCat {
    color: black;
    width: 80%;
    height: 50px;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
}
div.catPanel {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
div.catPanel button {
    margin: 1%;
    font-weight: 600;
}
input.rename {
    display: block;
    height: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}
div.posLeft {
    display: inline-block;
    margin: 0 2%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
}
div.posRight {
    font-weight: 900;
    display: inline-block;
    margin: 0 2%;
    cursor: pointer;
    font-size: 20px;
}
@keyframes pulse {
    0% {
        transform: scale(1);
        border-radius: 15px;
    }
    50% {
        transform: scale(1.03);
        border-radius: 10px;
    }
    100% {
        transform: scale(1);
        border-radius: 15px;
    }
}

div.content {
    width: 78%;
    display: inline-block;
    text-align: center;
}

div.leftContainer {
    width: 100%;
    display: inline-block;
}

div.categoryList {
    float: left;
    width: 20%;
    height: 500px;
    background: linear-gradient(-45deg, #e3e3e3 0% 93%, #313030 93% 94%, #fff 94% 95%, #313030 95%);
}
div.categoryList ul {
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    font-size: 1.5em;
}
div.categoryList ul li {
    width: 100%;
    display: block;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}
div.categoryList ul li.cats:hover {
    background: #313030 !important;
    color: white !important;
}
div.currentName {
    background: #313030;
    color: #e0e0e0;
    border-left: 20px solid #ff3f40;
    opacity: 1; 
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    animation: 2s translateY;
    text-align: center;
}
div.categoryList ul li.header {
    transform: scale(1.1);
    transition: .5s;
    background: #313030;
    color: #e0e0e0;
    margin: 2% 0;
}
input.addCat {
    display: inline-block;
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
    height: 50px;
    outline: none;
    padding-left: -10px;
    background: #fff;
    color: #000;
    transition: 1s;
    text-align: center;
    border: none;
}
input.addCat::placeholder {
    text-align: center;
    color: black;
}
input.addCat:focus {

    transition: 1s;
}
input:focus::-webkit-input-placeholder {
    transition: 1s;
    opacity: 0;
}
button.addNew {
    background: #313030;
    color: #e0e0e0;
    text-transform: uppercase;
    cursor: pointer;
    margin: 3%;
    outline: none;
}
button.addNew:hover {
    background: white;
    color: #313030;
}
div.buttonsPanel {
    margin: 2%;
    display: inline-block;
    height: 90px;
}
button.icons {
    height: 40px;
    padding: 0 15px;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    transition: 1s;
}
button.icons:hover {
    transition: 1s;
    padding: 0 20px;
}
.addCatDiv {
    text-align: center;
    justify-content: center;
    width: 100%;
    animation: 1s translateX;
    font-size: 50px;
    margin-bottom: 3%;
}
div.displayCat {
    margin: 2%;
}
.addCatDiv button {
    display: inline-block;
    border: 1px solid black;
    animation: 2s opacity;
    background: #ff3f40;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    transition: 1s;
}
.addCatDiv button:hover {
    transition: 1s;
    padding-right: 10px;
    border-left: 5px solid black;
    background: #fff;
    color: #313030;
    cursor: pointer;
    font-size: 22px;
    height: 50px;
}
@keyframes translateX {
    0% {
        transform: translateX(-1000px);
    }
    60% {
        transform: translateX(100px);
    }
}
@keyframes translateY {
    0% {
        transform: translateY(1000px);
    }
    60% {
        transform: translateY(-20px);
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
}
.gallery {
    width: 100%;
    transition: .3s ease;
}
.gallery div.galleryItem {
    position: relative;
    display: inline-block;
    width: 13vw;
    height: 13vw;
    transition: .3s ease;
    margin: 1%;
}
.gallery div.galleryItem:hover {
    transform: scale(1.1);
    cursor: pointer;
}
span.galleryText {
    font-size: 20px;
    font-weight: 600;
}
.gallery div.galleryItem:hover .text{
    opacity: 0;
}
div.text {
    background: #313030;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 500;
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #ff3f40;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #ff3f40;
}