<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<div class="container" >   
        <div class="width" *ngIf="listOfSubs?.length > 0;">
            <table>
              <colgroup>
                <col class="first" span="1">
                <col class="second" span="1">
                <col class="third" span="1">
             </colgroup>
                <tr>
                  <th class="first">Date</th>
                  <th class="sec">Email</th>
                  <th class="third">DEL</th>
                </tr>
                <tr *ngFor="let sub of listOfSubs">
                  <td class="first">{{ sub.date | date:'EEEE, dd/MM/yy, HH:mm' }}</td>
                  <td class="sec">{{ sub.email.substring(0, 63) }}</td>
                  <td class=third>
                    <i style="font-size: 20px" class="fas fa-trash" (click)="openPopup(sub)">
                    </i>
                  </td>
                </tr>
            </table>
        </div>
        <div class="width">
          <ng-template #noMessages>
            <div class="noSubs">
              No subscriptions yet!
            </div>
          </ng-template>
        </div>

    
</div>
<app-footer></app-footer>
