div.container {
    border-radius: 15px;
    width: 100%;
    min-height: 100vh;
    background: #f5f1f1;
    animation-duration: 1s;
    animation-name: invisible;
}
table {
    font-size: 20px;
    margin: auto;
    text-align: center;
    overflow-x: auto;
    word-wrap: break-word;
}
tr {
    background-color: #ffffff;
  }
  td, th {
    border: 4px solid #f5f1f1;
    text-align: left;
    padding: 8px;

  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
i {
  color: red;
  font-size: 10px;
  cursor: pointer;
}
i:hover {
  color: #800000;
}
td.third {
  text-align: center;
  width: 20px;
}
div.width {
  width: 65%;
  margin: 0 auto;
  padding-top: 15px;
}
@keyframes invisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1150px) {
  div.width {
    width: 90%;
  }
}
col.first {
  width: 30%;
}
col.second {
  width: 65%;
  word-break: break-all;
}
col.third {
  width: 5%;
}
.sec {
  word-break: break-all;
}
div.noSubs {
  width: 90%;
  margin: auto;
  padding-top: 15%;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}