<div class="container">
    <img *ngFor="let image of storage" src="{{image.url}}" alt="" (click)="closeDialog(image.url)">
    <br><span>No images needed? Visit <span routerLink="/storage" (click)="closeDialog(undefined)" style="color: navy; cursor: pointer">Storage</span> to add them.</span>
</div>