<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">


<div class="container">
        <div class="center">
                <a class="routTeam"  (click)="currentMode = 'addNew'"><button mat-raised-button
                  [ngStyle]="{background: currentMode == 'addNew' ? '#ff3f40' : '#313030' ,
                color: currentMode == 'addNew' ? '#e0e0e0' : '#e0e0e0'}" >Add new image</button></a>
                <a class="routTeam" (click)="currentMode = 'gallery'"><button mat-raised-button
                  [ngStyle]="{background: currentMode == 'gallery' ?  '#ff3f40' : '#313030',
                color: currentMode == 'gallery' ? '#e0e0e0' : '#e0e0e0'}">Gallery</button></a>
            </div>   
            <div *ngIf="currentMode == 'addNew' && folders.length > 0">
                    <input #fileInput type="file" (change)="inputChange($event)" accept=".png,.jpg" />
                    <br>
                    <mat-form-field>
                        <input matInput placeholder="Image name in storage"
                        [(ngModel)]="storageName">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Select storage folder</mat-label>
                        <mat-select [(ngModel)]="selectedFolder" name="folder">
                        <mat-option *ngFor="let folder of folders" [value]="folder.value">
                        {{folder.viewValue}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    
                    
                    <br>
                    <button mat-stroked-button (click)="uploadFile()"
                    [disabled]="checkValid()" style="background: green">SAVE</button>
                    <br>
            </div> 
       
            <mat-form-field *ngIf="currentMode == 'gallery'">
                    <mat-label>Current folder</mat-label>
                    <mat-select [(ngModel)]="sortBy">
                      <mat-option *ngFor="let folder of folders" [value]="folder.value">
                        {{folder.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
        <div class="gallery" *ngIf="currentMode == 'gallery'">
                
                <div *ngFor="let item of storage | sortGallery:sortBy; let i = index"
                [ngStyle]="{'background-image': getImageUrl(item)}"
                class="galleryItem"
                (click)="openDialog(item)"
                style="background-size: cover;">
                  <div class="text">{{item.name}}
                        <i class="fas fa-folder"></i>
                        {{item.folder}}
                  </div>
                </div>

                <div *ngFor="let item of storage | sortGallery:sortBy; let i = index"
                [ngStyle]="{'background-image': getImageUrl(item)}"
                class="galleryItemAdaptive"
                (click)="navigate(item.url)"
                style="background-size: cover;">
                </div>

            </div>
        <!-- <div  *ngFor="let item of storage">
            <img style="width: 250px; height: auto;" src="{{item.url}}" alt="">
            <span>{{item.id}}</span>  <br>
            <span>{{item.name}}</span> <br>
            <span>{{item.filePath}}</span>
            <span></span>
        </div>     -->

</div>
<app-footer></app-footer>