div.container {
    text-align: center;
    width: 80%;
    margin: 0% auto;
    min-height: 90vh;
    background: linear-gradient(-45deg, #e3e3e3 0% 93%, #313030 93% 94%, #fff 94% 95%, #313030 95%);
    animation: 2s invisible;
}
@keyframes invisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
div.center {
    padding-top: 1%;
    margin: 0 auto 2%;
    text-align: center;
}
input[type="file"] {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 100%;
}
button {
    color: white;
}
.gallery {
    width: 100%;
    transition: .3s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery div.galleryItem {
    background-position: left top;
    position: relative;
    width: 30vh;
    height: 30vh;
    transition: .3s ease;
    border: 1px solid inherit;
    margin: 1%;
}
.gallery div.galleryItem:hover {
    transition: .3s ease;
    background-position: left top;
    border-radius: 15px;
    transform: scale(1.05);
    cursor: pointer;
}
.gallery div.galleryItemAdaptive {
    display: none;
    background-position: left top;
    position: relative;
    width: 30vh;
    height: 30vh;
    transition: .3s ease;
    border: 1px solid inherit;
    margin: 1%;
}
.gallery div.galleryItemAdaptive:hover {
    transition: .3s ease;
    background-position: left top;
    border-radius: 15px;
    transform: scale(1.05);
    cursor: pointer;
}
.gallery div.galleryItem:hover .text{
    opacity: 0;
}
div.text {
    background: #313030;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 500;
}
.routTeam {
    border: none;
    padding: 2px;
    text-transform: uppercase;
  }
.routTeam button {
    text-transform: uppercase;
}
@media (max-width: 800px) {
    div.galleryItem {
        display: none;
    }
    .gallery div.galleryItemAdaptive {
        display: block;
    }
}