<div class="container" id="career">
    <h1>
        Наша команда активно розвивається і ми раді будемо бачити нових талановитих спеціалістів у ній.
    </h1>
    <h4>
        Залиште ваш email і ми з Вами зв'яжемось.
    </h4>
    <span>
        <form [formGroup]="myForm">
            <input [ngModel]="myForm.value.email" type="text" formControlName="email" id="fname" name="email" placeholder="Ваша пошта" required email>
            <button mat-raised-button (click)="sendEmail()" id="subscribe">Відправити</button>
        </form>
    </span>
</div>