div.container {
    background: #f5f0dd;
    width: 100%;
    height: auto;
    margin: 6% auto 0;
    padding-bottom: 5%;
}
h1 {
    padding-top: 6%;
    text-align: center;
    color: #585858;
    font-size: 28pt;
    width: 80%;
    margin: 0 auto;
}
h4 {
    font-size: 14pt;
    color: #585858;
    padding-top: 2%;
    text-align: center;
}
span {
    display: block;
    margin: 5% auto 2%;
    width: 100%;
    text-align: center;
}
input[type=text] {
    font-size: 16pt;
    width: 34%;
    height: 77px;
    padding: 0 20px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 2%;
    transition: .5s ease-in;
}
input[type=text]:focus {
    outline: none;
    border-radius: 15px;
    border: 1px solid #ff2d2d;
    transition: .5s ease-in;
  }
button#subscribe {
    display: inline-block;
    background-color: #ff2d2d;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2px 0 0 0;
    height: 79px;
    width: 213px;
    font-size: 17pt;
    transition: .5s ease;
  }
button#subscribe:hover {
    border-radius: 20px;
    transition: .5s ease;
}
@media (max-width: 1150px) {
    h1 {
        font-size: 20pt;
    }
    h4 {
        font-size: 12pt;
    }
}
@media (max-width: 800px) {
    button#subscribe {
        width: 75%;
        font-weight: normal;
        height: 40px;
        font-size: 16pt;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    input#fname {
        padding: 0;
        width: 75%;
        margin-right: 0%;
        text-indent: 10px;
        text-align: center;
    }
}