div.width {
  flex: 4;
  margin: 1% auto;
  animation-duration: 1s;
  animation-name: invisible;
  }
div.message {
  width: 100%;
  min-height: 100px;
  font-size: 22px;
  line-height: 33px;
  background: #f5f1f1;
  animation-duration: 1s;
  animation-name: invisible;
  overflow-x: auto;
}
div.menuMessages {
  flex: 1;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  font-size: 14pt;
}
div.menuItem {
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  background: #f5f1f1;
  color: black;
}
.menuItemActive {
  margin-left: 2%;
  font-weight: bolder;
  transition: .3s ease;
}
.menuNavActive {
  background: #fff !important;
}
button.raised {
  height: 48px;
}
span {
  transition: .2s ease;
}
div.menuItem span.right {
  color: rgb(160, 159, 159);
}
div.menuItem .itemActive {

}
div.container {
  background: #f5f1f1;
  min-height: 100vh;
  padding-top: 20px;
  animation-duration: 1s;
  animation-name: invisible;
  display: flex;
  flex-direction: row;
}
ng-template {
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  animation-duration: 1s;
  animation-name: invisible;
}
span.weighter {
  font-weight: 500;
  color: black;
  margin-left: 2%;
  animation-duration: 1s;
  animation-name: invisible;
}
span.messageText {
  margin-left: 4%;
  animation-duration: 1s;
  animation-name: invisible;
  word-break: break-all;
}
span.right {
  float: right;
  text-align: right;
}
span.right i {
  padding: 0 10px;
}
mat-panel-description {
  display: block;
  line-height: 40px;
}
mat-expansion-panel.NotOpened {
    background-color:rgb(207, 207, 207);
}
span.NotOpened {
  font-weight: 500;
  font-size: 14px;
}
i:hover {
  color: black;
}
max-expansion-panel {
  background-color: #FDA948;
}
.panel {
  width: 100%;
  margin-bottom: 1%;
  height: auto;
  background: #313030;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  text-align: center;
}
.panel a {
  display: inline-block;
  padding: 6px 15px 10px;
  color: #e0e0e0;
  background:#313030;
  cursor: pointer;
  transition: background-color 500ms linear;
  font-weight: 500;
  font-size: 20px;
}
.panel a:hover {
  transition: background-color 500ms linear;
  background: #f5f1f1;
  color: black;
}
.panel a.active {
  background: #ff3f40;
  color: white;
}
.panel a.active:hover {
  transition: background-color 500ms linear;
  background: #f5f1f1;
  color: black;
}
div.textPanel {
  width: 80%;
  height: 40px;
  font-size: 20px;
  margin: 0 auto 1%;
  text-align: center;
  line-height: 40px;
}
div.noMessages {
  width: 80%;
  margin: auto;
  font-size: 20px;
  display: block;
}
span#noMess {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}
@keyframes invisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1400px) {
  div.width {
    width: 75%;
  }
  span.right {
    font-size: 18px;
  }
}
@media (max-width: 1150px) {
  div.width {
    width: 90%;
  }
  span a {
    width: 90%;
    padding: 0;
  }
  div.message {
    font-size: 16px;
  }
  span.right {
    font-size: 18px;
  }
  span.notOpened, span.Opened {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  div.container {
    flex-direction: column;
  }
  div.menuMessages {
    flex-direction: row;
    flex: none;
    width: 100%;
    text-align: center;
  }
  div.menuItem {
    flex: 1;
  }
  div.menuItem span.right {
    display: none;
  }
}
@media (max-width: 450px) {
  div.menuMessages {
    font-size: 10pt;
  }
}
.panelNotRead {
  background: rgb(219, 219, 219) !important;
}
.panelRead {
  background: #FFF !important;
}
span.ip {
  font-size: 12pt;
  color: rgb(15, 0, 83);
  padding: 10px;
}
div.adaptive {
  display: none;

  flex-direction: column;
}
div.adaptiveItem {
  flex: 1;

}
div.adaptiveOptions {
  display: flex;
  justify-content: center;
  
}
div.adaptiveOptions div {
  margin: 0% 2%;
}
div.adaptiveIcons {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 3%;
}
div.adaptiveIcons div {
  margin: 10px;
  transform: scale(1.3);
}
div.messageCenter {
  justify-content: center;
  text-align: center;
  margin: auto;
  word-break: break-all;
  width: 90%;
}
@media (max-width: 700px) {
  div.width {
    display: none;
  }
  div.adaptive {
    display: flex;
  }
}