<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <div class="container">
    
    <div class="menuMessages" *ngIf="listOfMessages?.length > 0">
      <div (click)="changeFilter('all')"
        [class.menuNavActive]="filteredBy === 'all'"
        class="menuItem">
        <span [class.menuItemActive]="filteredBy === 'all'">
          <i class="far fa-envelope"></i> 
          All messages 
        </span>
        <span class="right">{{messageCount('all', listOfMessages)}}</span>
      </div>
      <div class="menuItem" 
        [class.menuNavActive]="filteredBy === 'favorite'"
        (click)="changeFilter('favorite')">
        <span [class.menuItemActive]="filteredBy === 'favorite'">
          <i class="far fa-star"></i>
          Favorite messages 
        </span>
        <span class="right">{{messageCount('favorite', listOfMessages)}}</span>
      </div>
      <div [class.menuItemActive]="filteredBy === 'trash'"
        [class.menuNavActive]="filteredBy === 'trash'"
        class="menuItem"
        (click)="changeFilter('trash')">
        <i class="far fa-trash-alt"></i>
        Trash 
        <span class="right">{{messageCount('trash', listOfMessages)}}</span>
      </div>
    </div>
    
    <div class="width" *ngIf="listOfMessages?.length > 0">
    
      <!-- <mat-toolbar class="panel">
        <mat-toolbar-row>
          <span>
            <a ><i class="far fa-star"></i> All messages</a>
            <a (click)="filterByFavorite()"><i class="fas fa-star" style="color: #FFD700"></i> Favorite</a>
            <a (click)="filterByFavorite()"><i class="fas fa-trash"></i> Deleted</a>
          </span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <a (click)="filterDateToggle()">Filter by date: <i class="fas fa-clock"></i> {{filterByLastString}}</a>
          <a  *ngIf="!filteredByFav">Mark all as read <i class="fas fa-check-circle"></i></a>
        </mat-toolbar-row>
      </mat-toolbar> -->
      <div class="adaptiveOptions">
        <div>
          <mat-form-field>
            <mat-label><i class="fas fa-clock"></i>Date filter</mat-label>
            <mat-select [(value)]="filterByLast">
              <mat-option value="0">All time</mat-option>
              <mat-option value="1">Last 24 hours</mat-option>
              <mat-option value="2">Last week</mat-option>
              <mat-option value="3">Last month</mat-option>
              <mat-option value="4">Last year</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button
        class="raised"
        (click)="markAllAsRead()">
          Mark all as read <i class="fas fa-check-circle"></i>
        </button>
        </div>
      </div>
      <div class="textPanel" *ngIf="filteredBy == 'trash'">
        <i class="fas fa-exclamation"></i> 
        Message will delete after 24 hours
      </div>

      <mat-accordion >
        <mat-expansion-panel 
        *ngFor="let message of listOfMessages | favoriteFilter:filteredBy | filterByDate:filterByLast">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <span [ngClass]="!message.read ? 'NotOpened' : 'Opened'"> 
                  {{ message.newDate | date:'dd/MM/yy, HH:mm' }} <br> {{ message.name }} 	&#60;{{ message.email }}&#62;</span>
            </mat-panel-title>
            <mat-panel-description>
                <span class="right">
                  <i *ngIf="filteredBy != 'trash'"
                  title="Mark as favorite/unfavorite" 
                  [ngClass]="message.favorite ? 'fas fa-star' : 'far fa-star'"
                  (click)="favoriteUnfavorite(message)"></i>
                  <i *ngIf="filteredBy != 'trash'"
                  title="Mark as read/unread" 
                  [ngClass]="message.read ? 'far fa-envelope-open' : 'far fa-envelope'"
                  (click)="openCloseToggle(message)"></i>
                  <i *ngIf="filteredBy != 'trash'"
                  title="Move to trash folder" class="far fa-trash-alt"
                  (click)="moveToTrash(message)"></i>
                  <button mat-raised-button *ngIf="filteredBy == 'trash'"
                  (click)="removeFromTrash(message)">
                    remove from trash
                  </button>
                </span>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div class="message">
              <span class="weighter">Message from {{message.name}}:</span><br>
              <span class="messageText">{{ message.message }}</span>
              <br>
              <span class="ip" *ngIf="message.ip">Sended from: {{message.ip}}</span>
          </div>
          
        </mat-expansion-panel>
      </mat-accordion>  
            <!-- <li>{{ message.name }}</li>
            <li>{{ message.email }}</li>
            <li>{{ message.date }}</li>
            <li>{{ message.id }}</li>
            <li>{{ message.read }}</li>
            <li>{{ message.message }}</li>
            <li>{{ message.ip }}</li>
            <li>{{ message.city }}</li>
            <li>{{ message.region }}</li>
            <li>{{ message.country  }}</li>
                {{ message.favorite }} -->
    </div>

    <div class="adaptive" *ngIf="listOfMessages?.length > 0">
      <div class="adaptiveOptions">
        <mat-form-field>
          <mat-label><i class="fas fa-clock"></i>Date filter</mat-label>
          <mat-select [(value)]="filterByLast">
            <mat-option value="0">All time</mat-option>
            <mat-option value="1">Last 24 hours</mat-option>
            <mat-option value="2">Last week</mat-option>
            <mat-option value="3">Last month</mat-option>
            <mat-option value="4">Last year</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div 
      class="adaptiveItem"
      *ngFor="let message of listOfMessages | favoriteFilter:filteredBy | filterByDate:filterByLast">
        <div class="adaptiveIcons">
          <div *ngIf="filteredBy != 'trash'">
            <i 
          title="Mark as favorite/unfavorite" 
          [ngClass]="message.favorite ? 'fas fa-star' : 'far fa-star'"
          (click)="favoriteUnfavorite(message)"></i>
          </div>
          <div *ngIf="filteredBy != 'trash'">
            <i 
          title="Mark as read/unread" 
          [ngClass]="message.read ? 'far fa-envelope-open' : 'far fa-envelope'"
          (click)="openCloseToggle(message)"></i>
          </div>
          <div *ngIf="filteredBy != 'trash'">
            <i 
          title="Move to trash folder" class="far fa-trash-alt"
          (click)="moveToTrash(message)"></i>
          </div>
          <button mat-raised-button *ngIf="filteredBy == 'trash'"
          (click)="removeFromTrash(message)">
            remove from trash
          </button>
        </div>
        <div class="messageCenter">
          <div>
            {{ message.newDate | date:'dd/MM/yy, HH:mm' }}
          </div>
          <div>
            Sender: {{message.name}}
          </div>
          <div>
            Email: {{message.email}}
          </div>
          <br>
          <div style="font-size: 14pt; font-weight: 500">
            {{message.message}}
          </div>
          <br>
          <div *ngIf="message.ip">
            IP: {{message.ip}}
          </div>
        </div>
        <hr>
      </div>
    </div>

    </div>
<app-footer></app-footer>