button#close {
    position: relative;
    z-index: 99;
    float: right;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    background: #ffffff;
    transform: translateY(-10px)
}
button#close:focus {
    outline: none;
}
img {
    width: 10px;
    height: 10px;
}
div {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 20px;
}
span#text {
    margin-top: 40px;
    line-height: 30px;
    text-align: center;
}
span#buttonsCenter {
    margin: 4% auto;
    display: block;
    text-align: center;
}
button {
    margin: 0 8%;
}
button#cancel {

}
button#delete {
    background:#ff2d2d;
    color: white;
}