<div>
  <span id="text">
  You want delete: <br> <strong>{{data.email}}</strong><br> Are you sure?
</span>
<span id="buttonsCenter">
  <button mat-raised-button id="cancel" (click)="closeDialog()">Cancel</button>
  <button mat-raised-button id="delete" (click)="deleteItem(data)" >Delete</button>
</span>
</div>
