<div class="container" *ngIf="authService.checkStatus() === false; else elseBlock">
<form action="">
    <mat-form-field class="example-full-width">
        <input name="email" [(ngModel)]="email" matInput placeholder="Your email" value="">
      </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input name="password" [(ngModel)]="password" type="password" matInput placeholder="Password" value="">
    </mat-form-field>
    
    <button id="login" mat-raised-button color="accent" (click)="authService.SignIn(email, password)">Login</button>
</form>
<ng-template>
  <div>
    You ae already loginned!
  </div>
</ng-template>
</div>
<ng-template #elseBlock>
  <div class="container">
      You are already loginned
  </div>
</ng-template>
