div.container {
    width: 25%;
    margin: 5% auto;
    text-align: center;
}
button#login {
    display: block;
    margin: 0 auto;
    background: #ff2d2d;
    text-transform: uppercase;
}
img {
    width: 10px;
    height: 10px;
}
mat-form-field {
    display: block;
}
i {
    cursor: pointer;
    display: block;
    width: 22px;
}
.divClose {
    cursor: pointer;
    width: 24px;
    position: absolute;
    top: 0;
    right: 0;
}
@media (max-width: 1100px) {
    div.container {
        width: 50%;
    }
}
@media(max-width: 600px) {
    div.container {
        width: 90%;
    }
}