<div class="container">
    <img  class="curImage" src="{{data.item}}" alt="">
    <button 
        class="close" mat-raised-button
        (click)="onNoClick()"><i class="fas fa-times" style="color: red;"></i>
    </button>
</div>    