div.container {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
div.textDiv {
    text-transform: uppercase;
}
img.curImage {
    width: auto;
    max-width: 500px;
    height: auto;
}
button.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0 !important;
}
i {
    font-size: 20px;
}
button {
    margin: 2%;
}