<div class="container">
    <img *ngIf="currentMode=='none'" class="curImage" src="{{data.item.url}}" alt="">
    <button 
    *ngIf="currentMode=='none'"
    class="close" mat-raised-button
    (click)="onNoClick()"><i class="fas fa-times" style="color: red;"></i>
    </button>
    <div class="textDiv" *ngIf="currentMode == 'none'">
        <i class="fas fa-file-signature"></i> {{data.item.name}}  
        <i class="fas fa-folder"></i> {{data.item.folder}}
    </div>
 
    <button 
    *ngIf="currentMode == 'none'"
    (click)="openNewWindow(data.item.url)"
    title="full width"
    mat-raised-button style="background: green; color: white;" >
    <i class="fas fa-arrows-alt"></i>


    </button>
    <button 
    *ngIf="currentMode == 'none' && data.deleteFunction == true"
    (click)="currentMode = 'confirmDelete'"
    title="delete"
    mat-raised-button style="background: #ff3f40; color: white;" >
        <i class="fas fa-trash" ></i>
    </button>
    
    <div 
    *ngIf="currentMode == 'confirmDelete'"
    style="width: 100%">You want delete "{{data.item.name}}" image. Are you sure?</div>
    <br>
    <button 
    *ngIf="currentMode == 'confirmDelete'"
    (click)="delete(data.item)"
    mat-raised-button style="background: green; color: white;" (click)="delete(data)">
    <i class="fas fa-check"></i>
    </button>
    <button 
    *ngIf="currentMode == 'confirmDelete'"
    (click)="currentMode = 'none'"
    mat-raised-button style="background: #ff3f40; color: white;">
    <i class="fas fa-times"></i>
    </button>
</div>

    