<div>
        <span id="text">
        You want delete:  <br>
        <img src="{{data.photo_url}}" alt="NO IMAGE">
        <br> <strong>{{data.name}}</strong><br> from your team. <br>
        Are you sure?
      </span>
      <span id="buttonsCenter">
        <button mat-raised-button id="cancel" (click)="closeDialog()">Cancel</button>
        <button mat-raised-button id="delete" (click)="deleteMate(data)" >Delete</button>
      </span>
      </div>
      