<title id="top">Main. ITUse</title>
<app-header></app-header>
<app-provide></app-provide>
<app-products></app-products>
<app-subscribe></app-subscribe>
<app-intouch></app-intouch>
<app-footer></app-footer>
<button *ngIf="offsetY > 74" class="goToTop" (click)="scrollTo(0)" title="Scroll to top">  
    <mat-icon>arrow_upward</mat-icon>
</button>