button.goToTop {
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    width: 50px;
    height: 50px;
    border-radius: 5px; 
    font-size: 24px;
    font-weight: 600;
    transition: 0.5s ease;
    opacity: 0.5;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}
button.goToTop:hover {
    transition: 0.5s ease;
    opacity: 1;
    border-radius: 10px;
}
mat-icon {
    font-size: 24px;
    font-weight: 400;;
}