<div id="gap"></div>
<div class="heightBox" id="heightBox">
  <div class="menuContainer" id="navbar" [@openClose]="state">
    <div class="container"   
        *ngIf="authService.checkStatus() === false">
            <div class="slider">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <a class="menu-span" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{ exact: true }">Головна</a>
                    </button>
                    <button mat-menu-item>
                      <a class="menu-span" routerLink="" (click)="scroll('productsContainer')">Проєкти</a>
                    </button>
                    <button mat-menu-item>
                      <a class="menu-span" routerLink="" (click)="scroll('career')">Кар'єра</a>
                    </button>
                    <button mat-menu-item>
                      <a class="menu-span" routerLink="" (click)="scroll('intouchContainer')">Контакти</a>
                    </button>
                    <button mat-menu-item>
                      <a class="menu-span" routerLink="" class="green" (click)="scroll('intouchContainer')">Зв'язатись з нами</a>
                    </button>
                    <button mat-menu-item *ngIf="authService.isLogin() == 'true'">
                      <a class="menu-span" (click)="authService.SignOut()" routerLink="" 
                        class="login">Logout</a>
                    </button>
                  </mat-menu>
            </div>
            <div class="fullWidth">
              <a routerLinkActive="active" routerLink="" (click)="scroll('gap')">Головна</a>
              <a routerLink="" (click)="scroll('productsContainer')">Проєкти</a>
              <a routerLink="" (click)="scroll('career')">Кар'єра</a>
              <a routerLink="" (click)="scroll('intouchContainer')">Контакти</a>
              <div class="login" (click)="scroll('intouchContainer')">
                <button mat-raised-button class="green" (click)="scroll('intouchContainer')"> 
                  Зв'язатись з нами
                </button>
              </div>
              <a (click)="authService.SignOut()" routerLink="" *ngIf="authService.checkStatus() === true"
                class="login">Вийти</a>
            </div>
    </div>
    <div class="container" *ngIf="authService.checkStatus() === true">
      <div class="slider">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <a class="menu-span" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{ exact: true }">Головна</a>
            </button>
            <button mat-menu-item>
              <a class="menu-span" routerLinkActive="active" routerLink="messages">Повідомлення</a>
            </button>
            <button mat-menu-item>
              <a class="menu-span" routerLinkActive="active" routerLink="subscriptions">Підписки</a>
            </button>
            <button mat-menu-item>
              <a class="menu-span" routerLinkActive="active" routerLink="storage">Сховище</a>
            </button>
            <button mat-menu-item *ngIf="authService.checkStatus() === true">
              <a class="login menu-span" (click)="authService.SignOut()" routerLink="">Вийти</a>
            </button>
          </mat-menu>
    </div>
      
        <div class="fullWidth">
            <a routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{ exact: true }">Головна</a>
            <a routerLinkActive="active" routerLink="messages">Повідомлення</a>
            <a routerLinkActive="active" routerLink="subscriptions">Підписки</a>
            <a style="display: none" routerLinkActive="active" routerLink="teamConfig">Команда</a>
            <a style="display: none" routerLinkActive="active" routerLink="portfolioConfig">Проєкти</a>
            <a routerLinkActive="active" routerLink="storage">Сховище</a>
            <a class="login" (click)="authService.SignOut()" routerLink="">Вийти</a>
        </div>
    </div>
  </div>
</div>