div.menuContainer {
  width: 100%;
  z-index: 100;
  transition: 1s ease-in;
  background: #313030;
}

div.heightBox {
  height: 73px;
}

.sticky {
  position: fixed;
  top: 0;
  transition: 1s ease-in;
}

div.fixHeight {
  height: 73px;
}

a {
    color: #e0e0e0;
    text-align: center;
    padding: 26px 20px 26px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 18px;
    transition: background-color 500ms linear;
    cursor: pointer;
}
div.slider {
  display: none;
}
a.menu-span {
  display: block;
  padding: 0;
  width: 100%;
  color: #e0e0e0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 500;
}
a:hover {
  background: #f5f1f1;
  color: black;
  transition: background-color 500ms linear;
  border: none;
}
a.active {
  background: #ff3f40;
  color: white;
}
a.active:hover {
  transition: background-color 500ms linear;
  background: #313030;
  color: #e0e0e0;
}
div#container {
  background: #f5f1f1;
}
/deep/ .mat-menu-content {
  background-color: #313030 !important;
}
div.container {
  margin: 0 auto;
  color: white;
  width: 80%;
}
div.fullWidth {
  display: flex;
  position: relative;
  justify-content: left;
  margin: 0 auto;
  height: 100%;
}
.green {
  background:#eb443b;
  color: #e0e0e0;
  font-weight: 500;
  text-transform: none;
  height: 50px;
}
.login {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
@keyframes splash-left {
    from {
      margin-right: 300px;
      opacity: 0;
    }
    to {
      margin-right: 0;
      opacity: 1;
    }
}
@media (max-width: 1150px) {
  div.container {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .login {
    position: relative;
  }
  div.container {
    width: 100%;
  }
  div.slider {
    display: block;
    width: 100%;
  }
  div.fullWidth {
    display: none;
  }
  div.heightBox {
    height: 40px;
  }
}