div#intouchContainer {
    padding-top: 4%;
    width: 90%;
    margin-left: 10%;
    margin-bottom: 4%;
}
h1 {
    color: #585858;
    font-size: 42pt;
    text-transform: uppercase;  
}
h3 {
    margin-top: 4%;
    color: #585858;
    width: 66%;
    font-weight: normal;
}
#colsContainer {
    margin-top: 4%;
}
hr#red {
    border: 1px solid #ec443bd2;
    width: 12%;
    margin: 4% 0 0 0;
}
div#leftCol {
    width: 55%;
    float: left;
    height: 470px;
    margin-bottom: 0;
    position: relative;
}
div#rightCol {
    width: 43%;
    float: right;
    height: auto;
    background: #2d2d2d;
    background-size: cover;
    background: url('../intouch/background/contactInfoBackground.jpg');
    height: 470px;
    position: relative;
}
#textArea {
    display: block;
    width: 100%;
    height: 350px;  
}
button#send {
    position: absolute;
    bottom: 0;
    background-color: #ff3b3b;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    clear: both;
    height: 75px;
    width: 100%;
    margin-top: 3%;
    transition: .5s ease;
  }
button#send:hover {
    border-radius: 20px;
    transition: .5s ease;
}
input#name {
    background: #e5e5e5;
    width: 48%;
    display: inline-block;
    height: 75px;
    border-radius: 15px;
    text-indent: 10px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
input#email {
    background: #e5e5e5;
    width: 48%;
    height: 75px;
    border-radius: 15px;
    text-indent: 10px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    float: right;
}
textarea#message {
    margin: 3% auto 0;
    background: #e5e5e5;
    width: 100%;
    display: block;
    height: 255px;
    border-radius: 15px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    resize: none;
    padding: 10px 0px 0px 0px;
    text-indent: 10px;
    font-family: 'Open Sans';
    font-size: 16px;
}
div.form {
    color: black;
}
::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
::-moz-placeholder                {opacity: 1; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:-moz-placeholder                 {opacity: 1; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:-ms-input-placeholder            {opacity: 1; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}

div#clear {
    clear:both;
}
div#about {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 10%;
}
span#contactInfo {
    color: #e0e0e0;
    font-size: 18pt;
    text-transform: uppercase;
    font-weight: 600;
}
h4 {
    color: #bcbcbc;
    font-size: 16pt;
    font-weight: normal;
}
::ng-deep .accept-snackbar {
    background: green !important;
    color: white;
    font-size: 20px !important;
}
::ng-deep .warning {
    background: #ff3b3b !important;
    color: white;
    font-size: 20px !important;
    word-break: break-all;
}
::ng-deep .accept-snackbar .mat-simple-snackbar-action{
    color: white;
}
::ng-deep .warning .mat-simple-snackbar-action{
    color: white;
}
@media (max-width: 1150px) {
    div#colsContainer {
        display: flex;
        flex-direction: column;
    }
    div#leftCol {
        width: 100%;
        display: block;
    }
    div#rightCol {
        margin-top: 4%;
        width: 100%;
        margin-bottom: 4%;
        display: block;
    }
    div#intouchContainer {
        width: 90%;
        margin: 0 auto;
    }
    h1 {
        font-size: 24pt;
    }
    h3 {
        font-size: 12pt;
    }
}
@media (max-width: 600px) {
    input#name, input#email {
        width: 100%;
        display: block;
    }
    input {
        margin: 0 auto 2%;
    }
    textarea#message {
        margin: 0 auto 2%;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    button#send {
        position: relative;
        margin-top: 0;
        clear: none;
    }
    div#rightCol {
        margin-top: 20%;
    }
}