<div id="intouchContainer">
    <h1 id="touchHeader">Зв'язатись із нами</h1>
    <h3 class="blocked">
        Цікавить співпраця? Будемо раді допомогти вам!
    </h3>
    <hr id="red">
    <div id="colsContainer">
    <div id="leftCol">
        <form [formGroup]="myForm">
            <input id="name" 
            formControlName="name" 
            placeholder="Ім'я"> 
            <input formControlName="email" 
            id="email" name="email" 
            placeholder="Ваша пошта">
            <textarea formControlName="message" 
            id="message" 
            name="message" 
            placeholder="Введіть повідомлення..."></textarea>
            <button mat-raised-button id="send" (click)="sendMessage()">Відправити</button> 
        </form>
    </div>
    <div id="rightCol">
        <div id="about">
            <span id="contactInfo">Контактна інформація</span>
            <h4>м. Львів, Україна</h4>
            <h4>www.ituse.org</h4>
            <h4>info@ituse.org</h4>
            <h4>ituse.org@gmail.com</h4>
            <h4>+380680027700, +380979075653, Любомир</h4>
        </div>
    </div>
    <div id="clear"></div>
    </div>

</div>