.container {
    width: 100%;
    margin: 0 auto;
    background: #f5f1f1;
    overflow: hidden;
    min-height: 100vh;
    animation: 2s invisible;
}
@keyframes invisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
form {
    margin: 2% auto;
    width: 80%;
    color: black;
    text-align: center;
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
::-moz-placeholder                {opacity: 1; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:-moz-placeholder                 {opacity: 1; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:-ms-input-placeholder            {opacity: 1; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.5s ease;font-family: 'Open Sans';
    font-size: 16px;}
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
    }
    
    
    #teammate input[type="text"],
    #teammate input[type="email"],
    #teammate input[type="tel"],
    #teammate input[type="url"],
    #teammate textarea,
    #teammate button[type="submit"] {
      font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    }
    
    
    #teammate h3 {
      display: block;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 10px;
    }
    
    #teammate h4 {
      margin: 5px 0 15px;
      display: block;
      font-size: 13px;
      font-weight: 400;
    }
    
    fieldset {
      border: medium none !important;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
    }
    
    #teammate input[type="text"],
    #teammate input[type="email"],
    #teammate input[type="tel"],
    #teammate input[type="url"],
    #teammate textarea {
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
    }
    
    #teammate input[type="text"]:hover,
    #teammate input[type="email"]:hover,
    #teammate input[type="tel"]:hover,
    #teammate input[type="url"]:hover,
    #teammate textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa;
    }
    
    #teammate textarea {
      height: 100px;
      max-width: 100%;
      resize: none;
    }
    
    #teammate button[type="submit"] {
      cursor: pointer;
      width: 100%;
      border: none;
      background: #4CAF50;
      color: #FFF;
      margin: 0 0 5px;
      padding: 10px;
      font-size: 15px;
    }
    
    #teammate button[type="submit"]:hover {
      background: #43A047;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
    
    #teammate button[type="submit"]:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    
    .copyright {
      text-align: center;
    }
    
    #teammate input:focus,
    #teammate textarea:focus {
      outline: 0;
      border: 1px solid #aaa;
    }
    
    ::-webkit-input-placeholder {
      color: #888;
    }
    
    :-moz-placeholder {
      color: #888;
    }
    
    ::-moz-placeholder {
      color: #888;
    }
    
    :-ms-input-placeholder {
      color: #888;
    }
span.left {
    float: left;
}
div.panel {
    width: 50%;
    margin: 3% auto;
    height: 44px;
    background: #313030;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
     box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    text-align: center;
  }
  div.panel a {
    display: inline-block;
    padding: 10px 15px;
    color: #e0e0e0;
    background:#313030;
    cursor: pointer;
    transition: background-color 500ms linear;
    font-weight: 500;
    font-size: 20px;
  }
  div.panel a:hover {
    transition: background-color 500ms linear;
    background: #f5f1f1;
    color: black;
  }
  div.panel a.active {
    background: #ff3f40;
    color: white;
  }
  div.panel a.active:hover {
    transition: background-color 500ms linear;
    background: #f5f1f1;
    color: black;
  }
  div.center {
    margin: 1% auto 0%;
    display: flex;
    justify-content: space-around;
}
div#teamManager {
  margin: 1% auto 0;
  width: 100%;
  text-align: center;
}
.image {
  width: 25%;
}
span.name {
  display: block;
  margin-top: 2%;
  font-size: 44px;
  font-weight: 500;
  padding: 5%;
}
img.avatarProfile {
  width: 80%;
  height: auto;
  vertical-align: middle;
}
a button {
  width: 220px;
  margin:0 2% 1%;
  text-transform: uppercase;
  color: black;
}
div.mate {
  display: inline-block;
  width: 70%;
  border-radius: 15px;
  background: white;
  display: inline-block;
  margin: 0 auto 0%;
  height: 450px;
  position: relative;
  text-align: center;
}
div.description {
  width: 100%;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  min-height: 120px;
}
div.avatarBlock {
  padding: 2%;
  width: 35%;
  float: left;
}
div.delete {
  width: 100%;
}
div.delete button {
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  background: red;
  color: white;
  border-radius: 15px;
}
div.delete button.change {
  width: 100%;
  background: 	#f4ca16;
  color: white;
  border-radius: 15px;
}
div.delete button.saveChanges {
  width: 100%;
  background: 	green;
  color: white;
  border-radius: 15px;
}
div.rightCard {
  padding-right: 5%;
  float: right;
  width: 64%;
  text-align: center;
}
div.rightCard a {
  display: inline-block;
  padding: 2px;
  margin: 2px 2px;
}
img#prev {
  width: 150px;
  top: 40%;
  left: 2%;
  position: absolute;
  cursor: pointer;
  transition: 0.2s ease-in;
}
img#prev:hover {
  transform: scale(1.3);
  transition: 0.2s ease-in;
}
img#next:hover {
  transform: scale(1.3);
  transition: 0.2s ease-in;
}
img#next {
  width: 150px;
  top: 40%;
  right: 2%;
  position: absolute;
  cursor: pointer;
  transition: 0.2s ease-in;
}
div.imgPanel {
  display: none;
}
div.imgBorder {
  vertical-align: middle;
  flex: 1;
  margin: 0;
  line-height: 150px;
  height: 150px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
div.imgBorder img {
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  width: 150px;
  transition: 0.2s ease-in;
} 
.routTeam {
  border: none;
  padding: 2px;
}
.socButton {
  background: #f5f1f1;
  border: 1px solid grey;
}
div.changePosition {
  margin: 1% auto 5%;
  height: 550px;
  width: 80%;
  text-align: center;
  
}
div#teamFooter {
  width: 100%;
  margin: 1% auto 0;
  text-align: center;
  justify-content: center;
}
#teamFooter img {
  width: 200px;
  height: 200px;
  margin: 0 2%;
  transition: 0.5s ease;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease;
}
span.nameChangePos {
  display: block;
  font-size: 44px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  transform: translateY(+700%);
  transition: 0.5s ease;
}
.imgBorderImg {
  flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 20px;
  margin: 5%;
  transition: 0.5s ease;
  cursor: pointer;
}
div.imgBorderImg img {
  width: 100%;
  border-radius: 50px;
}
div.left {
  border-radius: 20px;
  margin-top: 2%;
  width: 20vw;
  height: 20vw;
  float: left;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s ease;
}
div.changePosText {
  text-transform: uppercase;
  padding-top: 2%;
  width: 70%;
  margin: 7% auto 0;
  height: 5vw;
  font-size: 20px;
  position: relative;
  transition: 0.5s ease;
}
div.changePosText span{
  font-weight: 600;
  display: inline-block;
  width: 50%;
  transition: 0.5s ease;
}
div.right {
  height: 20vw;
  margin-top: 2%;
  float: right;
  width: 70%;
  transition: 0.5s ease;
}
img.changePosLeft { 
  width: 5vw;
  cursor: pointer;
  transition: 0.2s ease-in;
  position: absolute;
  left: 0;
  transition: 0.5s ease;
}
img.changePosRight {
  width: 5vw;
  cursor: pointer;
  transition: 0.2s ease-in;
  position: absolute;
  right: 0;
  transition: 0.5s ease;
}
div.border {
  position: relative;
  display: flex;
  justify-content: centers;
}
div.border p {
  font-size: 22px;
  font-weight: 600;
}
span.text {
  margin: 0;
  padding: 0;
}
span.leftText {
  font-weight: 600;
  margin: 0;
  font-size: 28px;
}
span.leftButtons {
  margin: 2% auto;
}
input.changeName {
  display: block;
  font-size: 44px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto 0;
  width: 100%;
}
input.changeName::placeholder {
  font-size: 44px;
  font-weight: 500;
  text-align: center;
  color: black;
}
input.changeDesc {
  border: 1px solid black;
  width: 100%;
  font-size: 24px;

  text-align: center;
}
input.changeDesc::placeholder {
  color: black;

  text-align: center;
  font-size: 24px;
}
span.changeAvatar {
  width: 90%;
  font-size: 20px;
  border: 3px solid black;
}
div.socConfig {
  display: inline-block;
  margin: 2%;
}
div.socDiv {
  margin: 0 auto 3%;
}
@media (max-width: 1150px) {
  div.avatarBlock {
    float: none;
    width: 75%;
    margin: auto;
    text-align: center;
  }
  div.mate {
    height: auto;
    width: 90%;
  }
  div.rightCard {
    float: none;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 0;
  }
  div.rightCard .description {
    font-size: 18px;
  }
  div.rightCard .name {
    font-size: 32px;
  }
  div.socConfig {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
  }
  div.imgPanel {
    display: none;
  }
  img#prev {
    width: 75px;
    z-index: 10;
  }
  img#next {
    width: 75px;
    z-index: 10;
  }
  div.changePosText {
    width: 85%;
  }
  button.savePosition {
    margin-top: 7%;
  }
  span.text {
    width: 80% !important;
  }
  div.left {
    display: none;
  }
  div.right {
    width: 90%;
    float: none;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  img#prev, img#next {
    width: 55px;
  }
  div.center {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}