<div class="container">
  <div class="center">
      <a class="routTeam"  (click)="addNewToggle('addNew')"><button mat-raised-button
        [ngStyle]="{background: currentPage == 'addNew' ? '#ff3f40' : 'white',
      color: currentPage == 'addNew' ? '#e0e0e0' : 'black'}" >Add new teammate</button></a>
      <a class="routTeam" (click)="addNewToggle('teamList')"><button mat-raised-button
        [ngStyle]="{background: currentPage == 'teamList' ? '#ff3f40' : 'white',
      color: currentPage == 'teamList' ? '#e0e0e0' : 'black'}">Show team list</button></a>
      <a class="routTeam" (click)="addNewToggle('changePosition')"><button mat-raised-button
        [ngStyle]="{background: currentPage == 'changePosition' ? '#ff3f40' : 'white',
      color: currentPage == 'changePosition' ? '#e0e0e0' : 'black'}">Change position</button></a>
  </div>    
        <div id="teamManager"
        *ngIf="teamList?.length > 0 && currentPage == 'teamList'">
        <img
    *ngIf="currentMate != 0"
    src="assets/prev.png" alt="" id="prev" (click)=goLeft()>
            <div class="mate">
                <div class="avatarBlock">
                    <img *ngIf="changeModeVar != true"
                     class="avatarProfile" src="{{teamList[currentMate].photo_url}}" alt="no image"><br>
                     <img *ngIf="changeModeVar == true" (click)="openPopupImage(teamList[currentMate])"
                     style="cursor: pointer"
                     class="avatarProfile" src="{{teamList[currentMate].photo_url}}" alt="no image"><br>
                     <p *ngIf="changeModeVar == true">Click on the photo to change it</p>
                </div>
                <div class="rightCard">
                  
                    <span class="name" *ngIf="changeModeVar == false">{{teamList[currentMate].name}}</span>
                    <span class="name" *ngIf="changeModeVar == true">
                      <input type="text"
                      [(ngModel)]="teamList[currentMate].name"
                      class="changeName"
                      placeholder="{{teamList[currentMate].name}}"
                      value="{{teamList[currentMate].name}}">
                    </span>
                    
                    <div class="description" *ngIf="changeModeVar == false">{{teamList[currentMate].description}}</div>
                    <div class="description" *ngIf="changeModeVar == true">
                      <input type="textarea"
                      [(ngModel)]="teamList[currentMate].description"
                      value="{{teamList[currentMate].description}}"
                      class="changeDesc"
                      placeholder="{{teamList[currentMate].description}}">
                    </div>

                    <div *ngIf="teamList[currentMate].socials.length > 0 && changeModeVar == false" class="socDiv">
                        <a *ngFor="let soc of teamList[currentMate].socials" class="soc"
                        target="_blank" 
                        href="{{soc.profile_link}}">
                          <button mat-raised-button class="socButton" *ngIf="soc.profile_link.length > 0 && soc.social_name.length > 0">{{soc.social_name}}</button>
                        </a>
                    </div>
                    <div *ngIf="changeModeVar == true">
                      <div class="socConfig">
                          Name
                          <br>
                          <input type="text"
                          [(ngModel)]="teamList[currentMate].socials[0].social_name"
                          value="{{teamList[currentMate].socials[0].social_name}}">
                          <br>
                          Link
                          <br>
                          <input type="text"
                          [(ngModel)]="teamList[currentMate].socials[0].profile_link"
                          value="{{teamList[currentMate].socials[0].profile_link}}">
                      </div>
                      <div class="socConfig">
                          Name
                          <br>
                          <input type="text"
                          [(ngModel)]="teamList[currentMate].socials[1].social_name"
                          value="{{teamList[currentMate].socials[1].social_name}}">
                          <br>
                          Link
                          <br>
                          <input type="text"
                          [(ngModel)]="teamList[currentMate].socials[1].profile_link"
                          value="{{teamList[currentMate].socials[1].profile_link}}">
                      </div>
                      <div class="socConfig">
                          Name
                          <br>
                          <input type="text"
                          [(ngModel)]="teamList[currentMate].socials[2].social_name"
                          value="{{teamList[currentMate].socials[2].social_name}}">
                          <br>
                          Link
                          <br>
                          <input type="text"
                          [(ngModel)]="teamList[currentMate].socials[2].profile_link"
                          value="{{teamList[currentMate].socials[2].profile_link}}">
                      </div>
                  </div>
                </div>        
              <div class="delete">
                  <button mat-raised-button 
                  class="change"
                  (click)="changeMode()"
                  *ngIf="changeModeVar == false">Change</button>
                  <button mat-raised-button 
                  class="saveChanges"
                  (click)="changes('save')"
                  *ngIf="changeModeVar == true">Save changes</button>
                <button mat-raised-button 
                (click)="openPopup(teamList[currentMate])"
                *ngIf="changeModeVar == false">Delete</button>
                <button mat-raised-button 
                (click)="changes('cancel')"
                *ngIf="changeModeVar == true">Cancel</button>
              </div>
            </div>
            <img
            *ngIf="currentMate != teamList.length - 1"
            src="assets/next.png" alt="" id="next" (click)=goRight()>
            <div class="imgPanel">
              <div class="imgBorder" *ngFor="let mate of teamList; let i = index" (click)="changePos(i)">
                <img 
                [ngStyle]="{'border': i == currentMate ? '3px solid #ff3f40' : '0px solid white',
                'transform': i == currentMate ? 'scale(1.2)' : 'scale(1)' }"
                src="{{mate.photo_url}}" alt="">
              </div>
            </div>
        </div>
        <form id="teammate" 
        [formGroup]="addProfile"
        *ngIf="currentPage == 'addNew'">
          <h3>Creating teammate profile</h3>
          <h4></h4>
          <fieldset>
            <span class="left">Full name</span>
            <input formControlName="name" placeholder="Full name" type="text"  tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <span class="left">Description</span>
            <input formControlName="description" placeholder="Description" type="text"  tabindex="2" required>
          </fieldset>
          <fieldset>
            <span class="left">Image link</span>
            <input 
            (click)="openPopupNewImage(addedWorker)"  formControlName="image" placeholder="Image link" type="url"  tabindex="3" required>
          </fieldset> 
          <fieldset>
            <span class="left">Social 1: (optional)</span>
            <input formControlName="socialName1" placeholder="Social name" type="text" tabindex="4" required>
            <input formControlName="socialLink1" placeholder="Social link" type="url" tabindex="5" required>
          </fieldset>
          <fieldset>
                <span class="left">Social 2: (optional)</span>
            <input formControlName="socialName2" placeholder="Social name" type="text" tabindex="6" required>
            <input formControlName="socialLink2" placeholder="Social link" type="url" tabindex="7" required>
          </fieldset>
          <fieldset>
                <span class="left">Social 3: (optional)</span>
            <input formControlName="socialName3" placeholder="Social name" type="text" tabindex="8" required>
            <input formControlName="socialLink3" placeholder="Social link" type="url" tabindex="9" required>
          </fieldset>              
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" (click)="submit()">Submit</button>
          </fieldset>
        </form>
        <div
        *ngIf="currentPage == 'changePosition'"
        class="changePosition">
        <div class="right">
          <p>Click on avatar to choose mate</p>
          <div class="border">
            <div
              (click)="changePos(i)"
              *ngFor="let mate of teamList; let i = index"
              class="imgBorderImg" 
              [ngStyle]="{'border': i == currentMate ? '3px solid black' : '3px solid white',
              'transform': i == currentMate ? 'scale(1.2)' : 'scale(1)' }">
                <img src="{{mate.photo_url}}" alt="">
            </div>
          </div>
              
            <div class="changePosText">
                <img
                *ngIf="currentMate != 0"
                src="assets/prev.png" alt="" 
                class="changePosLeft" 
                (click)=switchLeft(currentMate)>
              <span class="text">LETS MOVE <span style="color: red">{{teamList[currentMate].name}}</span> IN TEAMLIST</span>
              <img
              *ngIf="currentMate != teamList.length - 1"
              src="assets/next.png" alt="" 
              class="changePosRight" 
              (click)=switchRight(currentMate)>
            </div>
            <button mat-raised-button 
            *ngIf="checkImgTouch == true"
            style="background: green; color: white;
            width: 150px;"
            class="savePosition"
            (click)="saveList()">Save position</button>
        </div>
        <div class="left">
            <span class="leftText">{{teamList[currentMate].name}}</span>
            <br>
            <div class="left" [style.backgroundImage]="'url('+ teamList[currentMate].photo_url +')'">
            
           
              </div>
            <span class="leftButtons" *ngFor="let soc of teamList[currentMate].socials">
            <a 
            target="_blank" 
            href="{{soc.profile_link}}">
              <button mat-raised-button *ngIf="soc.profile_link.length > 0 && soc.social_name.length > 0">{{soc.social_name}}</button>
            </a>
          </span>
        </div>
        
</div>
<app-footer></app-footer>